Source: kombu
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
XSBC-Pexip-Original-Uploaders: Michael Fladischer <fladi@debian.org>,
           Brian May <bam@debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-amqp (>= 1.4.6),
               python-anyjson (>= 0.3.3),
               python-boto,
               python-couchdb (>= 0.8),
               python-django,
               python-mock,
               python-nose,
               python-pika,
               python-redis,
               python-setuptools,
               python-simplejson,
               python-sphinx (>= 1.0.7+dfsg),
               python-unittest2,
               python-yaml,
               python3-all,
               python3-amqp,
               python3-anyjson (>= 0.3.3),
               python3-django,
               python3-mock,
               python3-msgpack,
               python3-nose,
               python3-pymongo,
               python3-redis,
               python3-setuptools,
               python3-simplejson,
               python3-sqlalchemy,
               python3-yaml
Build-Conflicts: python-cjson
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3
Standards-Version: 3.9.6
Homepage: https://github.com/celery/kombu/
Vcs-Git: git://anonscm.debian.org/python-modules/packages/kombu.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/kombu.git
XS-Pexip-Upstream: http://ftp.debian.org/debian/ stretch

Package: python-kombu
Architecture: all
Depends: python-amqp (>= 1.4.6),
         python-anyjson (>= 0.3.3),
         ${misc:Depends},
         ${python:Depends}
Recommends: python-yaml
Suggests: python-beanstalkc,
          python-boto,
          python-couchdb (>= 0.8),
          python-django,
          python-kombu-doc,
          python-pika,
          python-pymongo (>= 2.6.2),
          python-redis,
          python-sqlalchemy
Description: AMQP Messaging Framework for Python
 The aim of Kombu is to make messaging in Python as easy as possible by
 providing an idiomatic high-level interface for the AMQP protocol. It is meant
 to replace the carrot library by providing a compatibility layer.
 .
 Features:
  * Allows application authors to support several message server solutions by
    using pluggable transports.
  * Supports automatic encoding, serialization and compression of message
    payloads.
  * The ability to ensure that an operation is performed by gracefully handling
    connection and channel errors.

Package: python3-kombu
Architecture: all
Depends: python3-amqp (>= 1.4.6),
         python3-anyjson (>= 0.3.3),
         ${misc:Depends},
         ${python3:Depends}
Recommends: python3-yaml
Suggests: python-kombu-doc,
          python3-boto,
          python3-django,
          python3-pymongo,
          python3-redis,
          python3-sqlalchemy
Description: AMQP Messaging Framework for Python (Python3 version)
 The aim of Kombu is to make messaging in Python as easy as possible by
 providing an idiomatic high-level interface for the AMQP protocol. It is meant
 to replace the carrot library by providing a compatibility layer.
 .
 Features:
  * Allows application authors to support several message server solutions by
    using pluggable transports.
  * Supports automatic encoding, serialization and compression of message
    payloads.
  * The ability to ensure that an operation is performed by gracefully handling
    connection and channel errors.
 .
 This package contains the Python 3 version of the library.

Package: python-kombu-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: AMQP Messaging Framework for Python (Documentation)
 The aim of Kombu is to make messaging in Python as easy as possible by
 providing an idiomatic high-level interface for the AMQP protocol. It is meant
 to replace the carrot library by providing a compatibility layer.
 .
 Features:
  * Allows application authors to support several message server solutions by
    using pluggable transports.
  * Supports automatic encoding, serialization and compression of message
    payloads.
  * The ability to ensure that an operation is performed by gracefully handling
    connection and channel errors.
 .
 This package contains the documentation.
